{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %} Social Membership - Home {% endblock %} 
{% block content %}
<div class="bg-white">
  <main>
    <!-- Hero section -->
    <div class="relative">
      <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
      <div class="max-w-10xl mx-auto sm:px-6 my-3 lg:px-8">
        <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
          <div class="absolute inset-0">
            <img class="h-full w-full object-cover" src="{% static 'images/hero.png' %}" alt="Real Estate">
            <div class="absolute inset-0 bg-gradient-to-r from-purple-800 to-indigo-700 mix-blend-multiply"></div>
          </div>
          <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
            <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
              <span class="block text-white">Profile</span>
              <span class="block text-indigo-200">Page</span>
            </h1>
            <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">
              Buy your dream home with us. Plots available at Prayagraj, Lucknow and Varanasi. Check the gallery for the images.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
