{% extends 'partials/base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="bg-white">

  <main>
    <section class="relative bg-white" aria-labelledby="contact-heading">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="relative bg-white shadow-xl">
            <h2 id="contact-heading" class="sr-only">Register</h2>
  
            <div class="grid grid-cols-1 lg:grid-cols-3">
              <!-- Contact information -->
              <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-teal-500 to-teal-600 sm:px-10 xl:p-12">
                <!-- Decorative angle backgrounds -->
                
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                    <defs>
                      <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                    <defs>
                      <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
              </div>
  
              <!-- Contact form -->
              <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                <h3 class="text-lg font-medium text-warm-gray-900">Register as a new User</h3>
                <form action="" method="POST" enctype="multipart/form-data" class="mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                  {% csrf_token %}
                   
                  <div>
                      <label for="email" class="block text-sm font-medium text-gray-700">Enter Email</label>
                      <div class="mt-1">
                          {{ form.email }}
                      </div>
                  </div>
                  <div>
                      <label for="username" class="block text-sm font-medium text-gray-700">Enter Username</label>
                      <div class="mt-1">
                          {{ form.username }}
                      </div>
                  </div>

                  <div>
                      <label for="email" class="block text-sm font-medium text-gray-700">Enter Password</label>
                      <div class="mt-1">
                          {{ form.password1 }}
                      </div>
                  </div>
                  <div>
                      <label for="username" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                      <div class="mt-1">
                          {{ form.password2 }}
                      </div>
                  </div>

                  <div>
                      <label for="profile_image" class="block text-sm font-medium text-gray-700">Upload/Update Profile Image</label>
                      <div class="mt-1">
                          {{ form.profile_image }}
                      </div>
                  </div>

                  {% if form.errors %}
                      <ul>
                          {% for key,value in form.errors.items %}
                              <li class="my-1 bg-red-700 text-white px-2 py-1 shadow-sm rounded">{{ value|escape }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                  
                  <div class="sm:col-span-2 sm:flex sm:justify-end">
                    <button type="submit" class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:w-auto">
                      Register
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
</div>
{% endblock %}