{% extends 'partials/base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="bg-white">

  <main>
    <div class="px-3 py-5 my-3 flex items-center container mx-auto rounded shadow-lg bg-neutral-100">
      <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600">
        <!-- Heroicon name: outline/inbox -->
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
        </svg>
      </span>
      <h2 class="text-3xl ml-2 font-extrabold tracking-tight">
        Experience
      </h2>
    </div>
    <!-- Stats section -->
    <div class="relative bg-gray-900">
      <div class="h-80 absolute inset-x-0 bottom-0 xl:top-0 xl:h-full">
        <div class="h-full w-full xl:grid xl:grid-cols-2">
          <div class="h-full xl:relative xl:col-start-2">
            <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
            <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
          </div>
        </div>
      </div>
      <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-4 xl:grid xl:grid-flow-col-dense xl:gap-x-4">
        <div class="relative pt-12 pb-64 sm:pt-12 sm:pb-32 xl:col-start-1 xl:pb-12">
          {% if experiences %}

          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
              {% for post in experiences %}
              <div class="relative">
                  <div class="relative bg-white shadow-lg rounded-lg overflow-hidden">
                      <div class="relative px-6 py-8">
                          <h3 class="text-2xl font-bold text-gray-800">{{ post.job_title }}</h3>
                          <p class="text-gray-600 mt-2">{{ post.description|safe }}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
              {% else %}
              <div class="text-center">
                  <p class="text-2xl font-bold text-gray-800">No experiences available</p>
              </div>
              {% endif %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}